.env
# Copie este arquivo para .env e preencha. O .env NUNCA vai para o Git.
MATRICULA=26128968
DOCKERHUB_USER=arthur2700

MARIADB_DATABASE=agrovale_blog
MARIADB_USER=agrovale
MARIADB_PASSWORD=Agrovale@26128968
MARIADB_ROOT_PASSWORD=AgrovaleRoot@26128968
